
#titleBar
{
background-color : rgb(232,232,232);
border-radius: 10px;
}

#statusBar
{
background-color : rgb(232,232,232);
border-radius: 10px;
}

#centralWidget
{
border-top: 1px solid rgb(200,200,200);
border-bottom:1px solid rgb(200,200,200);
background-color : rgb(238,238,238);
}

#pageBar
{
	
}

#tabBar
{
	border-bottom:1px solid rgb(200,200,200);
	
}

#pbMenuTabbar
{
	border-right:1px solid rgb(200,200,200);
}

#leftBar
{
	background-color : rgb(210,210,210);
}

QToolButton, QToolButton::menu-indicator, QToolButton::up-arrow, QToolButton::down-arrow, QToolButton::left-arrow, QToolButton::right-arrow, QToolButton::pressed
{
    border: 0px solid transparent;
    background-color: transparent;
}

QPushButton, QPushButton::menu-indicator, QPushButton::up-arrow, QPushButton::down-arrow, QPushButton::left-arrow, QPushButton::right-arrow, QPushButton::pressed
{
    border: 0px solid transparent;
    background-color: transparent;
}

QPushButton:pressed
{

}

#docmentView
{
	border : 0px solid none;
}